#root{
    display: flex;
    width: 320px;
    margin: 0 auto;
    border: 5px solid black;
}

.container_buttons {
    background-color: cornflowerblue;
}

button{
    border-radius: 10%;
    width: 100px;
    height: 50px;
    margin: 3px;
    transition: .2s linear;
    font-size: 22px;
    font-weight: bold;
}

button:hover{
    background-color: bisque;
}

.display-one {
    height: 50px;
    background-color: black;
    color: white;
    font-size: 30px;
}

.display-two {
    height: 50px;
    background-color: antiquewhite;
    color: black;
    font-size: 30px;
}

